
$white:#FFF;
$black:#000;
$text-default:#616161;

$default-color:#00a3d9;
$default-yellow:#efc459;

$default-lighten:#b2dfdb;
$default-darken:#00796a;
$default-darken2:#004c3f;

$main-color:#016064;
$dark-color:#55908C;

$blue-default:#00aee6;
$blue-lighten:#39c5fa;
$blue-lightenFinal:#fffed1;
$blue-darken:#2562a6;


$yellow-default:#FFC400;
$yellow-lighten:#edce19;
$yellow-darken:#aa7d02;
$yellow-warning:#f1e59e;

$green-default:#50b748;
$green-lighten:#71bc6b;
$green-darken:#106433;

$red-default:#ff0008;
$red-lighten:#f8787d;
$red-darken:#b81319;
$red-color:#f5c6cb;

$pink-logo:#ca8aa6;
$blue-logo:#00a3d9;
$yellow-logo:#efc459;


$gray-placeholder:#f2f0f0;
$gray-inputs:#b8b8b8;
$gray-main:#494949;

//others

